@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Welcome</h1>
    <p>This test is designed to test to assess real-world skills of C#, MVC and ajax/jQuery. You are advised to read the whole task before starting.</p>
    <p>
        You may complete this however you see fit. Feel free to use online resources and include nuget pacakges as required. Also, please change/move/refactor existing code as you see fit. 
        That being said, please note you will be expected to talk through your solution if you are selected for interview. </p>
    <p>Consideration should be given to naming, structure/architecture and adherence to SOLID principles</p>
    <p>The task is to create a page in the app to submit and view leave requests based on Models\LeaveViewModel. For the sake of the assessment, store the leave requests in a session</p>
    <ol>
        <li>Create a partial view to show a table of leaave requests </li>
        <li>Amend the Views\Leave\Index.cshml to include a form to submit the data, with a placeholder underneath for the list of submitted leave requests</li>
        <li>Create controller actions to populate the form on the first visit, accept the POSTed form data and return the list of submitted leave requests</li>        
    </ol>
    <p>
        The form should validate that the email is in the correct format, all fields are required and where IsHalfDay is true the StartDate and EndDate must be the same (ie: half day may only be applied to a single day).
        Ideally, the form should submit without a page refresh so that the list of leave requests is updated. Finally, please write a unit test for the custom validation logic using a testing framework of your choice.
    </p>
</div>
