@model Logic.TechnicalAssement.App.Models.LeaveViewModel
@{
    ViewData["Title"] = "Leave";
}

@section Scripts {
    <script src="~/js/leave.js" asp-append-version="true"></script>
}

<div class="text-leave">
    <h1 class="display-4">Leave</h1>

    <div id="formContainer">
        @await Html.PartialAsync("_LeaveForm", Model)
    </div>

    <div id="exceptionMessage"></div>

    <div id="leaveRequestsTable" class="mt-3">
        <div id="loading">Loading, please wait </div>
        <div id="exception"></div>
    </div>
</div>
